<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/index.css" />
  <title>Productivity Timer</title>
</head>

<body>
  <div class="container">
    <div id="window">
      <div id="window-controls">
        <div id="close" class="circle"></div>
        <div id="hide" class="circle"></div>
        <div id="fullscreen" class="circle"></div>
      </div>
      <div id="timer">
        <h1>Intense Work Period</h1>
        <div id="display">
          <span id="hours">00</span>
          :
          <span id="minutes">00</span>
          :
          <span id="seconds">00</span>
        </div>
        <div id="controls">
          <button onclick="updateState()" id="start-btn">Start</button>
          <button onclick="updateState()">Pause</button>
          <button onclick="resetTimer()">Reset</button>
        </div>
      </div>
    </div>
  </div>
  <div id="periods-list">
    <ul>
      <li>
        <div>
          <h3>Time Passed</h3>
        </div>
      </li>
    </ul>
  </div>

  <!-- On scroll there should be a list of all the work periods user has had. -->

  <script type="text/javascript" src="./js/index.js"></script>
  <script type="text/javascript" src="./js/notification.js"></script>
  <noscript>In order for application to work correctly, you should enable JavaScript.</noscript>
</body>

</html>