<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Timer</title>
</head>
<body>
  <div>
    <h1>Timer</h1>
    <div id="timer"><span id="minutes">00</span>:<span id="seconds">00</span></div>
    <div class="controls">
      <button onclick="updateState()">Start</button>
      <button onclick="updateState()">Pause</button>
      <button onclick="resetTimer()">Reset</button>
    </div>
  </div>
  <script type="text/javascript" src="./js/index.js"></script>
</body>
</html>
