@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad Flux", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  user-select: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2pt;
}

#timer #display {
  font-size: 1.4rem;
}

#controls button {
  padding: 6pt 16pt;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
  cursor: pointer;
}

#controls button::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 4px;
  background-color: white;
  z-index: -1;
  transition: 200ms;
}

#controls button::after {
  content: attr(data);
  font-size: 16px;
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms;
}

#controls button:hover::before {
  opacity: 50%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#controls button:hover {
  color: white;
  text-decoration: underline;
}
